html {
    font-size: 16px;
}

body {
    margin: 0 auto;
    color: #2D2F30;
}

.newsletter {
    max-width: 100%;
    height: auto;
    background-image: url("newsletter-img.jpeg");
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: revert;
}

.newsletter .form {
    background-color: white;
    border-radius: 25px;
    padding: 50px;
    width: 80%;
    margin: 0 auto;
}

.form-check {
    padding: 10px 10px 10px 20px;
}

.form-check p {
    font-size: 0.8rem;
}

.form h3 {
    padding-bottom: 20px;
    font-weight: bold;
}

.form-buttons {
    display: flex;
    justify-content: center;
}

.btn-primary {
    margin: 10px;
    width: 100px;
    background-color: #C6596E;
    border: none;
}

.form-control:focus {
    border: none;
    box-shadow: 0 0 10px rgba(195, 211, 48);
}

.btn-primary:hover {
    border: none;
    background-color: #853D49;
}

.btn-primary:focus {
    border: none;
    box-shadow: 0 0 10px rgba(195, 211, 48);
    background-color: #C3D330;
}

.btn-primary:active {
    border: none;
    box-shadow: 0 0 10px rgba(195, 211, 48);
    background-color: #C3D330;
}

.btn-primary:active:hover {
    border: none;
    box-shadow: 0 0 10px rgba(195, 211, 48);
    background-color: #C3D330;
}

.btn-primary:visited {
    border: none;
    box-shadow: 0 0 10px rgba(195, 211, 48);
    background-color: #C3D330;
}

.funct {
    background: linear-gradient(#7AAA42, #C3D330);
}

.cards {
    display: flex;
    justify-content: center;
}

.card {
    margin: 50px;
    border: none;
}